@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,400;0,600;0,700;1,100&family=Roboto:wght@100;300;400;500;700&display=swap');
:root{
    --redclr:#F92524;
}
*{
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    transition: all .2s linear;
    text-transform: capitalize;
}
html{
    font-size: 62.5%;
    overflow-x: hidden;
}
.container{
    position: relative;
}
.container img{
    width: 20%;
    position: absolute;
    top: 0;
    left: -2rem;
    z-index: -1;
  
}
.header{
    padding: 2rem 7%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    left: 0;
    top: 0;
    right: 0;
    background: white;
    z-index: 1000000;
}
#logo{
    color: var(--redclr);
    font-size: 3rem;
    font-weight: bolder;
}
.navbar a{
    margin-left: 1.5rem;
    color: black;
    font-size: 1.5rem;
   position: relative;
}
.navbar a:hover:after {
  content: '';
  position: absolute;
  top: 100%;
  left: 0;
  background: var(--redclr);
  width: 100%;
  height: 3px;
  margin-top: 5px;
}
.navbar a:hover{
    color: var(--redclr);
}
.icons div{
margin-left: 1rem;
color: black;
font-size: 2rem;
cursor: pointer;
}
.icons div:hover{
    color: var(--redclr);
}
#menu-bar{
    display: none;
}
.user-login{
    width: 30rem;
    position: absolute;
    top: 100%;
    right: -100rem;
    height: 20rem;
    text-align: center;
    border-radius: 15px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.user-login input{
    padding: 1rem 2rem;
    margin: .5rem;
    border-radius: 15px;
    border: 1px solid var(--redclr);
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}
.navbar.active{
    left: 0;
}
.user-login.active{
    right: 2rem;
}

.home{
    padding: 2rem 7%;
}
.main-home{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 15px;
}
.inner-home{
    flex: 1 1 45rem;
}
.inner-home img{
    width: 90%;
    border-radius: 10px;
    object-fit: cover;
    opacity: 0.95;
}
.home-content h2{
    font-size: 30px;
    font-weight: lighter;
}
.home-content h1{
    font-size: 35px;
}
.home-content h1 span{
    color: var(--redclr);
    margin: 1rem 0;
}
.home-content p{
    font-size: 1.5rem;
    margin-top: 10px;
    margin-bottom: 25px;
}
.home-content a{
    padding: 1.5rem 3rem;
    background: var(--redclr);
    color: white;
    font-size: 1.5rem;
    border-radius: 15px;
}

.our-class{
    background: url(images/classbackground.png);
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    padding: 4rem 7%;
  
}
.our-class h1{
    font-size: 50px;
    font-weight: 600;
    text-align: center;
    margin-bottom: 70px;
}
/* 이미지 슬라이드 */
.swiper-slide img{
    width: 100%;
    height: 450px;
    object-fit: cover;
}
.swiper-slide{
    position: relative;
}
.swiper-slide:hover{
    transform: translateY(-20px);
}
.swiper-slide h2{
    position: absolute;
    bottom: 0;
    color: white;
    background: var(--redclr);
    width: 100%;
    padding: 1.5rem 0;
    font-size: 20px;
    text-align: center;
}
/* 시간표 */
.programs{
    padding: 3rem 7%;
    background: url(images/storybackground.png);
    width: 100%;
    text-align: center;
    background-position: left;
    background-size: contain;
    background-repeat: no-repeat;
    margin: auto;
    overflow-x: auto;
}
.programs h1 {
    font-size: 50px;
    font-weight: 600;
}

.programs p {
    color: #777;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}
.programs-data {
    width: 1000px;
    height: 400px;
    margin: auto;
    box-shadow: 0 3px 7px grey;
    background-color: white;
}

.programs-data:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
}

tr {
    border: 1px solid #444444;
}

tr:nth-child(even) {
    background-color: #eaeaeb;
}

thead {
    box-shadow: 0 1px 5px grey;
}

th {
    padding: 1rem 2rem;
    letter-spacing: 0.4rem;
    font-size: 1.8rem;
    font-weight: 900;
    text-align: center;
}

td {
    font-size: 1.8rem;
    padding: 1rem 2rem;
    text-align: center;
}

/* 트레이너 소개 */
.our-trainers{
    padding: 3rem 7%;
}
.our-trainers h1{
    font-weight: 600;
    font-size: 50px;
    text-align: center;
    margin-bottom: 20px;
}
.main-trainer{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap:0;
}
.inner-trainer{
    flex:1 1 300px;
}
.inner-trainer img{
    width: 97%;
    object-fit: cover;
    transform: scale(1);
}
.inner-trainer img:hover{
    transform: translateY(-20px);
}
.trainer-content{
    padding: 0 2rem;
}
.trainer-content h2{
    color: var(--redclr);
    font-size: 28px;
    margin-bottom: 5px;
}
.trainer-content span{
    color: black;
    font-size: 24px;
    padding: 15px 0;
}
.trainer-content hr{
    margin-top: 10px;
    margin-bottom: 10px;
}
.trainer-content p{
    font-size: 1.5rem;
}
.social-icons i{
    font-size: 2rem;
    color: black;
    padding: 1rem;
    margin: 1rem;
}
.social-icons i:hover{
    color: var(--redclr);
    cursor: pointer;
    transform: rotate(360deg) scale(2);   
}
/* 오시는길 */
.contact {
    width: 80%;
    margin: auto;
    text-align: center;
    padding-top: 60px;
}

.contact h1 {
    font-size: 50px;
    font-weight: 600;
}

.contact p {
    color: #777;
    font-size: 16px;
    font-weight: 500;
    line-height: 22px;
    padding: 10px;
}

.kakao-map {
    margin: auto;
    background-color: rgba(232, 232, 232, 0.5);
    width: 70%;
    height: 350px;
}
/* 아래글 */
footer {
    width: 100%;
    text-align: center;
    padding: 30px 0;
}

.icons {
    color: #f44336;
    margin: 0 13px;
    cursor: pointer;
    padding: 18px 0;
}

footer p {
    color: #777;
    font-size: 14px;
    font-weight: 400;
    line-height: 22px;
    padding: 10px;
}
.icons i {
    font-size: 35px;
}
/* 반응형 */
@media (max-width:991px) {
    .home{
        margin-top: 70px;
    }
}
@media (max-width:767px) {
    html{
        font-size: 50%;
    }
    .header{
        padding: 2rem;
    }
    #menu-bar{
        display: initial;
    }
    .navbar{
        position: absolute;
        top: 100%;
        width: 30rem;
        height: 100vh;
        left: -100%;
        background: white;
    }
    .navbar a{
        display: block;
        font-size: 1.5rem;
        padding: 1rem;
        margin-top: 1rem;
    }
    .home{
        margin-top: 70px;
    }
    .story-content h2{
        color: black;
    }
    .top-story-content p{
        padding: 0 2rem;
    }
    .inner-customer{
        margin-top: 15px;
        padding: 4rem 4rem;
    }
    .kakao-map {
        width: 100%;
    }
}